<div class="add-user-container">
  <div class="header">
    <h2>User Management</h2>
    <button nz-button nzType="primary" (click)="showModal()">
      <i nz-icon nzType="plus"></i>Add User
    </button>
  </div>

  <div *ngIf="data.length === 0" class="no-data-message">
    <nz-empty
      nzNotFoundImage="simple"
      nzNotFoundContent="No users found"
    ></nz-empty>
  </div>

  <app-table
    *ngIf="data.length > 0"
    [columns]="columns"
    [data]="data"
    [loading]="false"
  >
  </app-table>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Add New User"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <form [formGroup]="userForm">
        <nz-form-item>
          <nz-form-label>First Name</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('firstName')">
            <input nz-input formControlName="firstName" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Last Name</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('lastName')">
            <input nz-input formControlName="lastName" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('email')">
            <input nz-input formControlName="email" type="email" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('phoneNumber')">
            <input nz-input formControlName="phoneNumber" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Password</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('password')">
            <input
              nz-input
              formControlName="password"
              type="password"
              required
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>
