<div class="add-user-container">
  <div class="header">
    <h2>User Management</h2>
    <button nz-button nzType="primary" (click)="showModal()">
      <i nz-icon nzType="plus"></i>Add User
    </button>
  </div>

  <app-table [columns]="columns" [data]="data" [loading]="false"> </app-table>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Add New User"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <form [formGroup]="userForm">
        <nz-form-item>
          <nz-form-label>First Name</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('FirstName')">
            <input nz-input formControlName="FirstName" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Last Name</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('LastName')">
            <input nz-input formControlName="LastName" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('Email')">
            <input nz-input formControlName="Email" type="email" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('PhoneNumber')">
            <input nz-input formControlName="PhoneNumber" required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Password</nz-form-label>
          <nz-form-control [nzErrorTip]="getErrorMessage('Password')">
            <input
              nz-input
              formControlName="Password"
              type="password"
              required
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>

</div>
