[nz-carousel-content] {
  text-align: center;
  background: #001529;
  color: #fff;
  overflow: hidden;
}
nz-carousel{
    height: 190px;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
